/node_modules export-ignore
/.idea export-ignore
/.gitignore export-ignore
/.jshintrc export-ignore
/bootstrap.php export-ignore
/tests export-ignore
/vendor export-ignore
/codesniffer.ruleset.xml export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/deploy.ini export-ignore
/Gruntfile.js export-ignore
/package.json export-ignore
/phpunit.xml export-ignore
/readme.md export-ignore
