@media screen and (max-width: 500px) {

    .header {
        display: block;
    }

    .container {

        .prevnext {

            .prev,
            .next {
                display: block;
                max-width: 100%;
                float: none;
            }
        }

        .content.home {

            .posts-group {

                display: block;

                .post-year {
                    margin: -6px 0 4px;
                }

                .post-day {
                    display: none;
                }
            }
        }
    }
}
