@media screen and (max-width: 500px) {

    .header {
        display: block;
    }

    .container {

        margin: 0 10px;

        .prevnext {

            .prev,
            .next {
                display: block;
                max-width: 100%;
                float: none;
            }
        }

        .content.home {

            .posts-group {

                display: block;

                .post-year {
                    margin: -6px 0 4px;
                }

                .post-day {
                    display: none;
                }
            }
        }

        .wp-block-code,
        .wp-block-quote {
            background-color: #282828;
            position: relative;
            margin: 1rem 5px;
            border: 1px solid $border-color;
        }
    }
}
