@media screen and (max-width: 690px) {

    .header {

        padding: 1rem 0;

        .content span.site-title {
            font-size: 1rem;
        }

        ul.menu li.search-form {
            display: block;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }

    .container .content.home {

        .posts-group {

            display: block;

            .post-year {
                margin: -6px 0 4px;
            }

            .post-day {
                display: none;
            }
        }
    }
}
