$sans-font: trebuchet ms,Verdana,verdana ref,segoe ui,Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;

html {
    font-family: $sans-font;
    font-size: 20px;
    line-height: 36px;
    color: $text-color;
}

a {

    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        transition: 0.5s;
    }
}

svg {
    fill: $link-color;

    &:hover {
        fill: $link-hover-color;
        transition: 0.5s;
    }
}

blockquote {

    display: block;
    font-style: italic;
    padding: 20px 40px;

    cite {
        text-align: right;
        clear: both;
    }
}
