.speaking-fields {

	width: 100%;

	td.header {

		background-color: #f5f5f5;
		border-bottom:    1px solid #ccc;
		padding: 2px;

		a {
			float:           right;
			text-decoration: none;
			border:          none;
		}
	}
}

.form-table {

	margin: 0 10%;
	width:  80%;
	border: 1px solid #ccc;

	th {
		padding-left: 10px;
	}
}