.clear {

	&:before,
	&:after {
		content: '';
		display: table;
	}

}

.entry-content {

	&:before,
	&:after {
		content: '';
		display: table;
	}

}

.comment-content {

	&:before,
	&:after {
		content: '';
		display: table;
	}

}

.site-header {

	&:before,
	&:after {
		content: '';
		display: table;
	}

}

.site-content {

	&:before,
	&:after {
		content: '';
		display: table;
	}

}

.site-footer {

	&:before,
	&:after {
		content: '';
		display: table;
	}

}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}