$background: #f0f3f4;
$black: #2e2e2e;
$blue-background: #e0ffff;
$border-color: #ddd;
$dark-blue: #1f1faa;
$dark-grey: #3e3e3e;
$green: #bfffc7;
$grey: #999;
$light-grey: #ccc;
$light-blue: #3a63cd;
$light-orange: #e80;
$link-color: #356;
$near-white: #f8f8f8;
$orange: #cf5300;
$text-color: #5f5f5f;
$white: #fff;
$widget-background: $background;
$yellow: #ffffc2;