/*--------------------------------------------------------------
0.1 Posts and pages
--------------------------------------------------------------*/

h1.page-title {
	margin-bottom: 2rem;
}

.hentry {

	background-color: $white;
	font-size:        $normal;
	font-size:        $normal-rem;
	line-height:      1.6;
	margin:           0 0 2.5rem 0;
	padding:          0;

	.gist {
		font-size:   14px;
		font-size:   0.875rem;
		line-height: 1.4;
	}

	a.post-header-image {

		border: none;

		&:hover {
			border: none;
		}

		img {
			width: 100%;
		}

	}

	.entry-header {

		padding: 40px 40px 0 40px;

		.comments-link {
			float: right;
		}

		.entry-title {

			font-size:   36px;
			font-size:   2.25rem;
			font-weight: 300;

			a {
				color:           $text-color;
				text-decoration: none;

				&:hover {
					border-bottom:   none;
					color:           $orange;
					text-decoration: none;
				}

			}

		}

	}

	.entry-meta,
	.entry-footer {
		color:     $grey;
		font-size: 16px;
		font-size: 1rem;
	}

	.updated {
		display: none;
	}

	.single .byline,
	.group-blog .byline {
		display: inline;
	}

	.page-content,
	.entry-content,
	.entry-summary {

		margin:  1.5em 0 0;
		padding: 0 40px;

		h2,
		h3 {
			margin-bottom: 1rem;
		}

	}

	.page-links {
		clear:  both;
		margin: 0 0 1.5em;
	}

	.more-link {

		border-bottom: none;
		clear:         both;
		display:       block;
		font-size:     16px;
		font-size:     1rem;
		margin-top:    40px;

		&:hover {
			border-bottom: none;
		}

	}

	.entry-footer {
		padding: 40px;
	}

}

.single,
.page {

	.site-main {
		background-color: $white;
		margin-bottom:    2.5rem;
	}

}

.post-navigation {
	padding: 0 40px;
}

.author-box {

	margin:  0 40px;
	padding: 40px 0;

	.avatar {
		float: left;
	}

	#authcontact {
		clear:     both;
		display:   block;
		float:     left;
		font-size: 80%;
		width:     100%;
	}

}

.author-box,
.comments-area {
	border-top: 1px solid $near-white;
	overflow:   hidden;
}

.comment-reply-title {
	margin-bottom: 40px;
}

.comments-area {

	margin:  0;
	padding: 40px 0;

	.no-comments {
		padding: 0 40px;
	}

	.avatar {
		float:   left;
		padding: 0 10px 10px 0;
	}

	h2 {
		padding: 0 20px;
	}

	#respond {
		padding: 0 20px;
	}

	ol {

		list-style: none;
		margin:     0;
		padding:    20px 0 0 0;

		li {

			margin-bottom: 1rem;
			padding:       20px 0 20px 20px;

			.comment-content {
				clear:         both;
				padding-right: 20px;
			}

			ol {

				padding-top: 20px;

				li {

					background-color: $light-grey;
					border-left:      none;

					a {

						border-bottom: 1px solid $light-grey;

						&:focus {
							outline: thin dotted $white;
						}

					}

					ol {

						li {

							background-color: $white;

							a {

								border-bottom: 1px solid $white;

								&:focus {
									outline: thin dotted $light-grey;
								}

							}

							ol {

								li {

									background-color: $light-grey;

									a {

										border-bottom: 1px solid $light-grey;

										&:focus {
											outline: thin dotted $white;
										}

									}

									ol {

										li {

											background-color: $white;

											a {

												border-bottom: 1px solid $white;

												&:focus {
													outline: thin dotted $light-grey;
												}

											}

										}

									}

								}

							}

						}

					}

				}

			}

		}

	}

}

/*--------------------------------------------------------------
0.2 Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
0.3 Comments
--------------------------------------------------------------*/

.comment-content a {
	word-wrap: break-word;
}