@font-face {
	font-family: 'cw';
	src:         url('https://www.chriswiegman.com/content/themes/chriswiegman/assets/font/cw.eot');
	src:         url('https://www.chriswiegman.com/content/themes/chriswiegman/assets/font/cw.eot#iefix') format("embedded-opentype"), url('https://www.chriswiegman.com/content/themes/chriswiegman/assets/font/cw.woff2') format("woff2"), url('https://www.chriswiegman.com/content/themes/chriswiegman/assets/font/cw.woff') format("woff"), url('https://www.chriswiegman.com/content/themes/chriswiegman/assets/font/cw.ttf') format("truetype"), url('https://www.chriswiegman.com/content/themes/chriswiegman/assets/   font/cw.svg#cw') format("svg");
	font-weight: normal;
	font-style:  normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family:             "cw";
	font-style:              normal;
	font-weight:             normal;
	speak:                   none;
	display:                 inline-block;
	text-decoration:         inherit;
	width:                   1em;
	margin-right:            .2em;
	text-align:              center;
	font-variant:            normal;
	text-transform:          none;
	line-height:             1em;
	margin-left:             .2em;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
	content: '\e800';
}

.icon-users:before {
	content: '\e801';
}

.icon-videocam:before {
	content: '\e802';
}

.icon-twitter:before {
	content: '\f099';
}

.icon-facebook:before {
	content: '\f09a';
}

.icon-rss:before {
	content: '\f09e';
}

.icon-laptop:before {
	content: '\f109';
}

.icon-github:before {
	content: '\f113';
}

.icon-mic:before {
	content: '\f130';
}

.icon-wordpress:before {
	content: '\f19a';
}

.icon-bank:before {
	content: '\f19c';
}

.icon-google:before {
	content: '\f1a0';
}