html,
body {
	background-color: $background;
}

#page {

	margin: 0 auto;

	.featured-image {
		text-align: center;
	}

	.site-content {
		margin:      0 auto;
		max-width:   1400px;
		overflow:    hidden;
		padding-top: 115px;
		transition:  0.5s;
	}

	.site-header {

		background-color: $white;
		border-bottom:    1px solid $border-color;
		height:           78px;
		overflow:         visible;
		padding:          18px 40px;
		position:         fixed;
		top:              0;
		transition:       0.5s;
		width:            100%;
		z-index:          10000;

		.progress-wrap {

			position:       absolute;
			top:            0;
			margin:         0 -40px;
			width:          100%;
			pointer-events: none;

			.progress-indicator {
				background-color: #9ab;
				display:          block;
				height:           78px;
				opacity:          0.2;
				position:         absolute;
				transition:       height 0.5s;
			}
		}

		.wrap {

			margin:    0 auto;
			max-width: 1400px;

			.site-title {

				float:       left;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-weight: bold;
				font-size:   180%;
				line-height: 1;
				margin-top:  4px;
				transition:  0.5s;

				.logo-chris {
					color: $footer-background;
				}

				.logo-wiegman {
					color: $grey;
				}
			}

			.main-navigation {
				margin:     0;
				overflow:   hidden;
				transition: 0.5s;
			}
		}

		&.scrolled {

			height:  39px;
			padding: 0 40px;

			.wrap {

				.site-title {
					margin-top: 4px;
				}
			}

			.progress-wrap {

				.progress-indicator {
					height: 39px;
				}
			}
		}
	}

	.top-padding {
		top: 32px;
	}

	.content-area {
		float: left;
		width: 66%;
	}

	.site-content .widget-area {
		float:      right;
		width:      30%;
		transition: 0.5s;
	}

	.site-footer {

		background-color: $footer-background;
		color:            $footer-text;
		font-size:        75%;
		width:            100%;
		opacity:          0.9;
		text-align:       center;

		a {

			border-bottom: 1px solid $footer-text;
			color:         $white;
			&:hover {
				border-bottom: 1px solid $orange;
				color:         $orange;
			}
		}

		.site-info {
			clear:  both;
			margin: 10px 0;
		}
	}
}
