html,
body {
	background-color: $background;
}

#page {

	margin: 0 auto;

	#intro {

		background-color: $white;
		clear:            both;
		margin-bottom:    1em;
		min-height:       200px;
		padding:          0;
		transition:       0.5s;
		width:            100%;

		.widget-area {
			width: 100%;
			float: none;
		}

	}

	.featured-image {
		text-align: center;
	}

	.site-content {
		margin:      0 auto;
		max-width:   1152px;
		overflow:    hidden;
		padding-top: 56px;
	}

	.site-header {

		background-color: $white;
		border-bottom:    1px solid $light-grey;
		height:           40px;
		overflow:         visible;
		position:         fixed;
		top:              0;
		transition:       0.5s;
		width:            100%;
		z-index:          10000;

		.progress-wrap {

			position: relative;
			width:    100%;

			.progress-indicator {
				background-color: $grey;
				display:          block;
				height:           40px;
				opacity:          0.2;
				position:         absolute;
				transition:       height 0.5s;
			}

		}

		.wrap {

			margin:    0 auto;
			max-width: 1152px;

			.site-title {

				float:       left;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-weight: bold;
				font-size:   200%;
				line-height: 1;
				margin-top:  2px;
				transition:  0.5s;

				.logo-chris {
					color: #9b9b9b;
				}

				.logo-wiegman {
					color: #356;
				}

				a {

					border-bottom: none;

					&:hover {
						border-bottom: none;
					}

				}

			}

			.main-navigation {
				margin:     0;
				overflow:   hidden;
				transition: 0.5s;
			}

		}

	}

	.top-padding {
		top: 32px;
	}

	.content-area {
		float: left;
		width: 66%;
	}

	.site-content .widget-area {
		float: right;
		width: 33%;
	}

	.site-footer {

		background-color: $white;
		color:            $grey;
		font-size:        75%;
		width:            100%;
		opacity:          0.9;
		text-align:       center;

		a {

			border-bottom: 1px solid $grey;
			color:         $grey;

			&:hover {
				border-bottom: 1px solid $orange;
				color:         $orange;
			}

		}

		.site-info {
			clear:  both;
			margin: 10px 0;
		}

	}

}
