@media screen and (max-width: 900px) {

	#page {

		#intro {
			margin-top:         40px;
			-webkit-transition: 0.5s;
			-moz-transition:    0.5s;
			-ms-transition:     0.5s;
			-o-transition:      0.5s;
			transition:         0.5s;
		}

		.site-header {

			height:             40px;
			-webkit-transition: 0.5s;
			-moz-transition:    0.5s;
			-ms-transition:     0.5s;
			-o-transition:      0.5s;
			transition:         0.5s;

			.site-branding {

				max-width:          270px;
				padding-top:        5px !important;
				-webkit-transition: 0.5s;
				-moz-transition:    0.5s;
				-ms-transition:     0.5s;
				-o-transition:      0.5s;
				transition:         0.5s;

				img {
					height:             80%;
					-webkit-transition: 0.5s;
					-moz-transition:    0.5s;
					-ms-transition:     0.5s;
					-o-transition:      0.5s;
					transition:         0.5s;
					width:              80%;
				}

			}

			.main-navigation {
				padding-top:        0 !important;
				-webkit-transition: 0.5s;
				-moz-transition:    0.5s;
				-ms-transition:     0.5s;
				-o-transition:      0.5s;
				transition:         0.5s;
			}

		}

		.content-area {
			border-right: none;
			float:        none;
			width:        100%;
		}

		.site-content {

			padding-top: 80px;

			.widget-area {
				border-left: none;
				float:       none;
				width:       100%;
			}

		}

	}

	#menu-primary {
		display: none;
	}

	.site-header {

		.menu-toggle {
			color:       $text-color;
			display:     inline-block;
			font-weight: 400;
			padding:     5px 20px 0 0;
			float:       right;
		}

		.main-navigation {

			background-color: $white;
			color:            $text-color;
			clear:            both;
			float:            none;
			margin:           0;
			padding:          0;
			position:         absolute;
			overflow:         hidden;
			top:              39px;
			width:            100%;

			li {
				padding:    2px 0 2px 10px;
				transition: 0.5s;
				width:      100%;

			}

			ul {

				float: none;
				width: 100%;

				ul {

					box-shadow: none;
					float:      none;
					left:       -999em;
					position:   relative;
					top:        2em;
					z-index:    99999;

				}

			}

		}

	}

}