@media screen and (max-width: 1192px) {

	#page .site-header .wrap {

		.site-title {
			margin-left: 20px;
			transition:  0.5s;

		}

		.main-navigation {
			margin-right: 20px;
			transition:   0.5s;
		}
	}

}