@media screen and (max-width : 700px) {

	.alignleft,
	.alignright,
	.aligncenter {
		clear   : both;
		display : block;
		float   : none;
		margin  : 10px auto;
	}

	.widget,
	.hentry {
		border-left  : none;
		border-right : none;
	}

	.software-short {
		float : none;
		width : 100%;
	}

	.paging-navigation {
		padding-left  : 10px;
		padding-right : 10px;
	}

	.comments-area {

		margin  : 0 20px;
		padding : 20px 0;

		ol {
			padding : 20px 0 0 0;

			li {

				border-left : none;
				padding     : 0;

				.comment-content {
					padding-right : 0;
				}

				ol {

					padding-top : 20px;

					li {

						background-color : $white;
						border-left      : none;

						a {

							border-bottom : 1px solid $white;

							&:focus {
								outline : thin dotted #d3d3d3;
							}

						}

						ol {

							li {

								background-color : $white;

								a {

									border-bottom : 1px solid $white;

									&:focus {
										outline : thin dotted $light-grey;
									}

								}

								ol {

									li {

										background-color : $white;

										a {

											border-bottom : 1px solid $white;

											&:focus {
												outline : thin dotted $light-grey;
											}

										}

									}

								}

							}

						}

					}

				}

			}

		}

	}

}