@media screen and (max-width: 1152px) {

	.hentry {
		border-left: none;
		margin:      0 0 1rem 0;
		transition:  0.5s;
	}

	#page .site-content {

		padding-top: 115px;
		transition:  0.5s;

		.widget-area {
			width:      33%;
			transition: 0.5s;
		}
	}
}