@media screen and (max-width : 1152px) {

	.hentry {
		border-left : none;
	}

	.widget {
		border-right : none;
	}

	#cw_ad_widget-2 {

		.left-image {
			padding-right : 0;
		}

		.right-image {
			padding-left : 0;
		}

	}

}