@media print {

	body {
		background: white;
		color:      #000 !important;
		font-size:  10pt;
		margin:     0
	}

	#page {

		.content-area {
			margin-left: 0;
			float:       none;
			width:       auto
		}

		.site-content {
			padding-top: 40px;
		}

		.site-header {

			border-bottom: none;

			.wrap .site-title {
				margin: 7px 0 0 20px;
			}
		}
	}

	.single .site-main,
	.page .site-main,
	.hentry {
		border: none;
	}

	#secondary,
	#site-navigation,
	#commentform,
	.comments-link,
	.sharedaddy,
	#disqus_thread {
		display: none
	}

	#header {
		height: 75px
	}

	.demo .red {
		color:       black;
		font-weight: bold
	}

	#content a {
		font-weight:     bold;
		color:           #006;
		text-decoration: underline
	}

	#content {
		margin-left: 0;
		float:       none;
		width:       auto
	}

	#footer,
	.ad,
	.footer-menu,
	.author-box,
	.comment-respond,
	.nav-links {
		display: none
	}

	.comments-area ol li {
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after:  avoid;
		page-break-inside: avoid
	}

	h3 {
		margin-left:    10px;
		margin-bottom:  0px;
		padding-bottom: 0px
	}

	blockquote, table, pre {
		page-break-inside: avoid
	}

	ul, ol, dl {
		page-break-before: avoid
	}

	img.centered {
		display:      block;
		margin-left:  auto;
		margin-right: auto;
	}

	img.right {
		padding: 4px;
		margin:  0 0 2px 7px;
		display: inline;
	}

	img.left {
		padding: 4px;
		margin:  0 7px 2px 0;
		display: inline;
	}

	.right {
		float: right;
	}

	.left {
		float: left
	}

	img {
		page-break-inside: avoid;
		page-break-after:  avoid;
	}

}