ul.archive-speaking {

	margin-left : 60px;
	padding     : 0 40px;

	li {

		font-size : $small-rem;
		margin    : 0;

		.fa {
			margin  : 0;
			padding : 0;
		}

		.entry-header {

			padding : 0;

			.entry-title {

				border-bottom : none;
				font-size     : $normal-rem;
				margin-bottom : 0;

				a {
					border-bottom : none;
					color         : $black;
				}

			}

		}

	}

	.speaking-date,
	.speaking-location {
		font-style : italic;
	}

	.divider {

		border-bottom : 1px solid #efefef;
		display       : block;
		height        : 1px;
		margin        : 30px auto;
		width         : 60%;

	}

}
