$normal: 19px;
$normal-rem: 1.1875rem;
$small: 16px;
$small-rem: 1rem;
$heading: 32px;
$heading-rem: 2rem;
$sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;
$serif: Georgia, Times, Times New Roman, serif;
$fixed: 'Courier New', Courier, monospace;