input,
select,
textarea {
	background-color: $near-white !important;
	border:           1px solid $light-grey !important;
}

#respond input,
#response select,
#respond textarea,
input[type="search"] {
	background-color:   $near-white;
	border:             1px solid $light-grey;
	font-size:          18px;
	font-size:          1.125rem;
	padding:            8px;
	width:              100%;
	-webkit-appearance: textfield;
}

#respond input[type="submit"] {

	width: auto;

	&:hover {
		background:      $orange !important;
		border:          1px solid $orange !important;
		color:           $background !important;
		text-decoration: none;
	}

}

.searchform input {
	margin:  0;
	padding: 8px 4px;
}

input {

	&[type="button"], &[type="submit"] {
		background: $button-color !important;
		border:     1px solid $button-color !important;
		color:      $white !important;

		&:hover {
			background:      $orange !important;
			border:          1px solid $orange !important;
			color:           $background !important;
			text-decoration: none;
		}

	}

}
