input,
select,
textarea {
	background-color: $near-white !important;
	border:           1px solid $light-grey !important;
}

input[type="search"] {
	background-color:   $near-white;
	border:             1px solid $light-grey;
	font-size:          18px;
	font-size:          1.125rem;
	padding:            8px;
	width:              100%;
	-webkit-appearance: textfield;
}

.searchform input {
	margin:  0;
	padding: 8px 4px;
}

input {

	&[type="button"], &[type="submit"] {
		background: $button-color !important;
		border:     1px solid $button-color !important;
		color:      $white !important;
	}

}

button:hover {
	background:      $orange !important;
	border:          none !important;
	color:           $background !important;
	text-decoration: none;
}

input:hover {

	&[type="button"], &[type="submit"] {
		background:      $orange;
		/* Old browsers */
		color:           #f5f5f5 !important;
		text-decoration: none;
	}

}
