html,
body {
	background-color : $near-white;
}

#page {

	margin : 0 auto;

	#intro {
		background-color      : $black;
		background-attachment : fixed;
		background-image      : url("https://cdn1.chriswiegman.com/mail/background.jpg");
		background-position   : center;
		background-size       : cover;
		clear                 : both;
		margin-top            : 80px;
		min-height            : 300px;
		padding               : 0;
		-webkit-transition    : 0.5s;
		-moz-transition       : 0.5s;
		-ms-transition        : 0.5s;
		-o-transition         : 0.5s;
		transition            : 0.5s;
		width                 : 100%;
	}

	.featured-image {
		text-align : center;
	}

	.site-content {
		margin      : 0 auto;
		overflow    : hidden;
		padding-top : 43px;
	}

	.site-header {

		background-color : $white;
		border-bottom    : 1px solid $light-grey;
		height           : 80px;
		opacity          : 0.95;
		overflow         : visible;
		position         : fixed;
		top              : 0;
		transition       : 0.5s;
		width            : 100%;
		z-index          : 10000;

		.wrap {

			margin    : 0 auto;
			max-width : 1152px;

			.site-branding {

				float       : left;
				padding-top : 20px;

				a {

					border-bottom : none;

					&:hover {
						border-bottom : none;
					}

				}

			}

			.main-navigation {
				float       : right;
				padding-top : 10px;
			}

		}

	}

	.top-padding {
		top : 32px;
	}

	.scrolled {

		height : 40px;

		.site-branding {
			padding-top : 5px !important;

			img {
				height : 80%;
				width  : 80%;
			}

		}

		.main-navigation {
			padding-top : 0 !important;
		}

	}

	.content-area {
		float : left;
		width : 66%;
	}

	.site-content .widget-area {
		float : right;
		width : 30%;
	}

	.site-footer {

		background-color : $dark-grey;
		color            : $light-grey;
		font-size        : 75%;
		width            : 100%;
		opacity          : 0.9;

		a {

			border-bottom : 1px solid $light-grey;
			color         : $light-grey;

			&:hover {
				border-bottom : 1px solid $orange;
				color         : $orange;
			}

		}

		.site-info {
			margin    : 0 auto;
			max-width : 1152px;

			p {
				float  : right;
				margin : 25px;
			}

		}

	}

}
