@media screen and (max-width : 1192px) {

	#page .site-header {

		.site-branding,
		.main-navigation {
			padding            : 0 20px;
			-webkit-transition : 0.5s;
			-moz-transition    : 0.5s;
			-ms-transition     : 0.5s;
			-o-transition      : 0.5s;
			transition         : 0.5s;
		}

	}

	.paging-navigation {
		padding-left  : 20px;
		padding-right : 20px;
	}

	#intro {

		#intro-widget {

			.widget {
				padding : 0 20px;
			}

		}

	}

}