ul.archive-projects {

	margin-left : 60px;
	padding     : 0 40px;

	li {

		font-size : $small;
		font-size : $small-rem;
		margin    : 0 0 20px 0;

		i {
			margin  : 0;
			padding : 0;
		}

		.entry-header {

			padding : 0;

			.entry-title {

				border-bottom : none;
				font-size     : $normal;
				font-size     : $normal-rem;
				margin-bottom : 0;

				a {
					border-bottom : none;
				}

			}

		}

	}

	.entry-meta {

		.project-status,
		.project-type {
			font-style  : italic;
			font-weight : bold;
		}

	}

}
