// cw-nav-menu-search menu item created in functions.php. Move it way over to the right

.navbar .nav {

	width : 100%;

	.cw-nav-menu-search {
		float : right;
	}

}

.cw-nav-menu-search {

	.search-form {

		position : relative;
		margin   : 0;

		.screen-reader-text {
			position : absolute;
			left     : -9999px;
			overflow : hidden;
		}

		.search-submit {
			display : none;
		}

		.search-field {

			background : transparent;
			border     : none;
			box-shadow : none;
			cursor     : pointer;
			height     : 35px;
			margin     : 2px 0 2px 0;
			padding    : 3px 0 3px 25px;
			position   : relative;
			transition : width 400ms ease;
			width      : 0px;

			&:active, &:focus {
				clear      : both;
				float      : left;
				color      : #5a5a5a;
				// change the colour above if you are working with a dark navbar background
				border     : 2px solid $light-grey;
				cursor     : text;
				outline    : 0;
				width      : 250px;
				box-shadow : none;
				margin     : 0;
				top        : 40px;
			}

		}

		&:before {

			font-family : FontAwesome;
			content     : $fa-var-search;
			position    : absolute;
			// this is the key to put it visually inside the search field
			font-size   : 19px;
			font-weight : normal;
			top         : 5px;
			// tune this vertical alignment inside the search field, as needed
			left        : 5px;
			// tune this horizontal alignment inside the search field, as needed

		}

	}

}

@media (max-width : 979px) {
	.navbar .nav {
		.cw-nav-menu-search {
			float : left;
		}
		width : auto;
	}
}