$box-background: #282828;

$link: #fff;
$link-hover: #33e;

$light-text: #444;

$background: #252525;
$header-footer-background: #181818;
$header-footer-background-hover: #272727;
$font: #b3b9c5;
$border: #111;
$bright-font: #eee;
$primary: #fdb54a;
$secondary: #ffd479;
$reverse: #111;
