body {
  margin: 0;
}

.header {
  top: 0;
  padding: 1rem 10px;

  .content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1rem;

    span.site-title {
      flex: 1;
      font-size: 1.4rem;
      font-weight: bold;

      a {
        color: $text-color;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }

  ul.menu {
    padding: 0;
    margin: 0;
    right: 0;
    list-style: none;

    li {
      display: inline;
      padding: 0 15px 0 0;

      &.search-form {
        padding-right: 0;
      }

      .search-form {
        display: inline;

        label {
          .screen-reader-text {
            display: none;
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 1rem 0 0 0;

  .content {
    font-size: 0.7rem;
    text-align: center;
    padding: 0.5rem 0 0 0;
    margin: 0 auto;
    max-width: 960px;
    line-height: 1.2rem;

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline;
        list-style-type: none;
        margin: 0 0.5rem;
      }
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 10px;

  .intro {
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;

    img {
      max-width: 30%;
    }

    .social {
      margin-bottom: 0;
      font-size: 1.6rem;

      a {
        padding: 0 5px;
      }
    }
  }

  .content {
    a {
      border-bottom: 1px solid $link-color;
    }

    li::marker {
      color: $light-text-color;
    }

    img {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      max-width: 100%;
    }

    &.home,
    &.search {
      .posts-for-year {
        margin-left: 20px;
      }

      .posts-group {
        display: flex;
        margin-bottom: 1.9em;
        line-height: normal;

        .post-year {
          padding-top: 6px;
          margin-right: 1.8em;
          font-size: 1.6em;
          color: $light-text-color;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .posts-list {
          flex-grow: 1;
          margin: 0;
          padding: 0;
          list-style: none;
        }

        .post-item {
          border-bottom: 1px $light-text-color dashed;

          a {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 12px 0;
            border-bottom: none;
          }
        }

        .post-day {
          color: $light-text-color;
          flex-shrink: 0;
          font-size: 0.8rem;
          margin-left: 1em;
        }
      }
    }

    .wp-block-code,
    .wp-block-quote {
      font-size: 0.7rem;
      margin: 2.5em 0;

      p {
        padding: 0 1rem;
      }
    }
  }

  .prevnext {
    a {
      border-bottom: none;
    }

    font-size: 0.8rem;
    line-height: 0.8rem;

    .prev {
      max-width: 49%;
      float: left;
    }

    .next {
      max-width: 49%;
      float: right;
      text-align: right;
    }

    &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  .content-header {
    clear: both;

    h1 {
      margin: 0;
    }

    .meta {
      font-size: 0.8rem;

      a {
        color: $light-text-color;
        font-weight: normal;
      }
    }
  }
}
