html {
  background-color: $background;
}

body {
  margin: 0;
}

header {
  top: 0;
  background: $header-footer-background;
  border-bottom: 1px solid $border;
  height: 60px;
  left: 0;
  position: fixed;
  width: 100%;

  a {
    border-radius: 8px;
    color: $font;
    line-height: 1.1;
    padding: 0.5rem;

    &:hover {
      color: $bright-font;
      background: $header-footer-background-hover;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;

    span.site-title {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  ul.menu,
  div.menu ul {
    padding: 0;
    margin: 0;
    right: 0;
    list-style: none;

    li {
      display: inline;
      gap: 0.5rem;

      &.search-form {
        padding-right: 0;
      }

      .search-form {
        display: inline;

        label {
          .screen-reader-text {
            display: none;
          }
        }
      }
    }
  }
}

footer {
  background: $header-footer-background;
  border-top: 1px solid $border;
  padding: 3rem 0;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline;
        list-style-type: none;
        margin: 0 0.5rem;
      }
    }
  }
}

main {
  margin: 60px auto 0 auto;

  .intro {
    clear: both;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;

    img {
      max-width: 30%;
    }

    .social {
      margin-bottom: 0;
      font-size: 1.6rem;

      a {
        padding: 0 5px;
      }
    }
  }

  .content {
    margin: 0 auto;
    max-width: 900px;

    li::marker {
      color: $light-text;
    }

    img {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      max-width: 100%;
    }

    &.home,
    &.search {
      .posts-for-year {
        margin-left: 20px;
      }

      .posts-group {
        display: flex;
        margin-bottom: 1.9em;
        line-height: normal;

        .post-year {
          padding-top: 6px;
          margin-right: 1.8em;
          font-size: 1.6em;
          color: $light-text;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .posts-list {
          flex-grow: 1;
          margin: 0;
          padding: 0;
          list-style: none;
        }

        .post-item {
          border-bottom: 1px $light-text dashed;

          a {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 12px 0;
            border-bottom: none;
          }
        }

        .post-day {
          color: $light-text;
          flex-shrink: 0;
          font-size: 0.8rem;
          margin-left: 1em;
        }
      }
    }

    .wp-block-code,
    .wp-block-quote {
      font-size: 0.7rem;
      margin: 2.5em 0;

      p {
        padding: 0 1rem;
      }
    }
  }

  .prevnext {
    a {
      border-bottom: none;
    }

    font-size: 0.8rem;
    line-height: 0.8rem;

    .prev {
      max-width: 49%;
      float: left;
    }

    .next {
      max-width: 49%;
      float: right;
      text-align: right;
    }

    &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  .content-header {
    clear: both;

    h1 {
      margin: 0;
    }

    .meta {
      font-size: 0.8rem;

      a {
        color: $light-text;
        font-weight: normal;
      }
    }
  }
}
