body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: $font-family;
  font-size: 1rem;
  line-height: 1.6;
  color: $text;
  background: $background;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 2rem;
}

header,
footer {
  .content {
    ul {
      justify-content: flex-end;
      gap: 0.5rem;
      padding: 0;
      list-style: none;

      li {
        display: inline;
      }
    }

    a {
      color: $text;
      gap: 0.5rem;
      padding: 0.5rem;
      border-radius: 8px;
      font-size: 0.9rem;
      align-items: center;

      &:hover {
        color: $text-bright;
        background: $navbar-hover;
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $navbar;
  border-bottom: 1px solid $border-light;
  height: 60px;

  .content {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 1.5rem;
    height: 100%;
    justify-content: space-between;

    img {
      max-height: 20px;
      max-width: 25px;
      margin: 0 5px -3px 0;
    }
  }
}

main {
  margin-top: 60px;
  min-height: calc(100vh - 215px);

  article {
    a {
      border-top: 2px solid transparent;
      border-bottom: 2px solid $primary;
      color: $link;
      font-weight: 600;

      &:hover {
        background: $primary;
        border-top: 2px solid $primary;
        color: $reverse;
      }
    }
  }

  .hero {
    padding: 2rem 0 0;
    text-align: left;

    .container {
      color: $text-dark;
      font-size: 1.3rem;

      .content {
        align-items: center;
        display: flex;
        justify-content: space-between;

        h1 {
          color: $text-bright;
          font-size: 3rem;
          margin-bottom: 1.5rem;
        }

        img {
          height: auto;
          margin-left: 2rem;
          width: 250px;
        }
      }

      .social {
        display: flex;
        gap: 1rem;
        font-size: 1.3rem;
        align-items: center;

        a,
        a:hover {
          border-bottom: none;
        }

        svg {
          font-size: 2rem;
          fill: $link;

          &:hover {
            fill: $reverse;
          }
        }
      }
    }
  }
}

footer {
  border-bottom: none;
  border-top: 1px solid $border-light;
  width: 100%;
  background: $navbar;
  padding: 3rem 0;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    ul {
      margin: 0;
    }

    .copyright,
    .copyright a {
      font-size: 0.7rem;
    }

    .copyright {
      display: inline-block;
    }
  }
}
