.page-index {
  h2 {
    margin-top: 2.5rem;
  }

  .post-count {
    color: $text-bright;
  }

  .term {
    border-bottom: 2px solid $primary;
  }

  .description {
    color: $text-dark;
    font-size: 1.45rem;
    margin-bottom: 0;
  }

  .posts-group {
    margin-top: 2rem;
  }

  .content-search {
    form {
      grid-gap: 1rem;
      align-items: center;
      display: grid;
      grid-template-columns: auto 90px;

      label {
        display: none;
      }

      input {
        -webkit-appearance: none;
        appearance: none;
        background: $background;
        border: 1px solid $border-light;
        border-radius: 8px;
        color: $text-bright;
        font-size: 1.1rem;
        padding: 0.75rem 1rem;
      }

      input[type="submit"] {
        text-align: center;
        margin: auto;

        &:hover {
          cursor: pointer;
          background: $reverse;
          border-color: $primary;
          color: $primary;
        }
      }
    }
  }
}
