@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 100%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  line-height: 1.625; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.2857142857em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.1428571429em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.1428571429em;
  width: 2.1428571429em;
  top: 0.1428571429em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.8571428571em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

body {
  color: #5f5f5f;
  font-family: "Gudea", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #2e2e2e;
  font-family: "Arvo", serif;
  line-height: 1.2; }

h1 {
  font-size: 2.25rem; }

.page .entry-title {
  border-bottom: 1px solid #f8f8f8;
  clear: both;
  line-height: 1.4;
  margin-bottom: 1.5rem; }
  .page .entry-title a {
    border-bottom: 1px solid #f8f8f8;
    clear: both;
    line-height: 1.5;
    margin-bottom: 1.5rem; }

.software .entry-title, .error404 .entry-title, .software .entry-title a {
  border-bottom: 1px solid #ddd;
  clear: both;
  line-height: 1.5;
  margin-bottom: 1.5rem; }

blockquote::before {
  font-size: 2rem; }

h2 {
  font-size: 1.875rem; }
  h2.software-category {
    font-size: 1.625rem;
    margin-bottom: 1.25rem;
    width: auto; }

h3 {
  font-size: 1.5rem; }

h4, .archive-title, .taxonomy-description h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem; }

h5 {
  font-size: 1.125rem; }

h6, .author-box h1, .sidebar h2 a {
  font-size: 1rem; }

p {
  margin-bottom: 1.5em; }

b,
strong {
  font-weight: bold; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font: 15px "Courier New", Courier, monospace; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

.searchwp-highlight {
  background-color: #ff0;
  padding: 2px; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul,
ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  margin: 0 1em 1em 0;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  max-width: 100%; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

html,
body {
  background-color: #356; }

#page {
  margin: 0 auto; }
  #page #intro {
    background-color: #fff;
    clear: both;
    margin-bottom: 1em;
    min-height: 200px;
    padding: 0;
    -webkit-transition: 0.5s;
            transition: 0.5s;
    width: 100%; }
    #page #intro .widget-area {
      width: 100%;
      float: none; }
  #page .featured-image {
    text-align: center; }
  #page .site-content {
    margin: 0 auto;
    max-width: 1152px;
    overflow: hidden;
    padding-top: 56px; }
  #page .site-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: 40px;
    overflow: visible;
    position: fixed;
    top: 0;
    -webkit-transition: 0.5s;
            transition: 0.5s;
    width: 100%;
    z-index: 10000; }
    #page .site-header .progress-wrap {
      position: relative;
      width: 100%; }
      #page .site-header .progress-wrap .progress-indicator {
        background-color: #999;
        display: block;
        height: 40px;
        opacity: 0.2;
        position: absolute;
        -webkit-transition: height 0.5s;
                transition: height 0.5s; }
    #page .site-header .wrap {
      margin: 0 auto;
      max-width: 1152px; }
      #page .site-header .wrap .site-title {
        float: left;
        padding-top: 8px;
        -webkit-transition: 0.5s;
                transition: 0.5s; }
        #page .site-header .wrap .site-title a {
          border-bottom: none; }
          #page .site-header .wrap .site-title a:hover {
            border-bottom: none; }
      #page .site-header .wrap .main-navigation {
        margin: 0;
        overflow: hidden;
        -webkit-transition: 0.5s;
                transition: 0.5s; }
  #page .top-padding {
    top: 32px; }
  #page .content-area {
    float: left;
    width: 66%; }
  #page .site-content .widget-area {
    float: right;
    width: 33%; }
  #page .site-footer {
    background-color: #3e3e3e;
    color: #ccc;
    font-size: 75%;
    width: 100%;
    opacity: 0.9;
    text-align: center; }
    #page .site-footer a {
      border-bottom: 1px solid #ccc;
      color: #ccc; }
      #page .site-footer a:hover {
        border-bottom: 1px solid #cf5300;
        color: #cf5300; }
    #page .site-footer .site-info {
      clear: both;
      margin: 10px 0; }

input, select, textarea {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 1.125rem;
  padding: 8px;
  width: 100%; }

input[type="search"] {
  -webkit-appearance: textfield; }

.searchform input {
  margin: 0;
  padding: 8px 4px; }

button {
  background: #1f1faa;
  border: none;
  color: #fff !important;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto; }

input[type="button"], input[type="submit"] {
  background: #2d6a81;
  border: none;
  color: #fff !important;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto; }

.btn {
  background: #2d6a81;
  border: none;
  color: #fff !important;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto; }

button:hover {
  background: #cf5300;
  /* Old browsers */
  color: #f5f5f5 !important;
  text-decoration: none; }

input:hover[type="button"], input:hover[type="submit"] {
  background: #cf5300;
  /* Old browsers */
  color: #f5f5f5 !important;
  text-decoration: none; }

.btn:hover {
  background: #cf5300;
  /* Old browsers */
  color: #f5f5f5 !important;
  text-decoration: none; }

.enews input[type="submit"], .search-form input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* 12a - Gravity Forms ----------- */
.gform_wrapper {
  margin: 0 0 16px 0; }
  .gform_wrapper ul {
    margin: 0; }
    .gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
      padding: 0 0 0 1px !important; }
  .gform_wrapper .left-pad div ul li {
    padding-left: 1px !important; }
  .gform_wrapper input,
  .gform_wrapper select,
  .gform_wrapper textarea,
  .gform_wrapper .ginput_complex label,
  .gform_wrapper .gfield_description {
    font-size: 1rem !important;
    padding: 8px !important;
    width: 98%; }
  .gform_wrapper .top_label .gfield_label {
    margin-bottom: 3px;
    float: none;
    font-weight: 700;
    display: block; }
  .gform_wrapper span.ginput_left, .gform_wrapper span.name_first {
    float: left;
    padding: 0 2px;
    width: 49.5%; }
  .gform_wrapper span.ginput_right, .gform_wrapper span.name_last {
    float: right;
    padding: 0 2px;
    width: 49.5%; }
  .gform_wrapper input[type="submit"] {
    padding: 8px 12px;
    width: auto; }
  .gform_wrapper .ginput_complex label {
    padding: 0; }
  .gform_wrapper .gfield_checkbox input {
    width: auto; }
  .gform_wrapper li, .gform_wrapper form li {
    list-style: none;
    margin: 16px 0 16px 0;
    overflow: hidden; }
  .gform_wrapper li.gform_validation_container {
    display: none;
    height: 1px;
    left: -99999px;
    position: absolute;
    width: 1px; }

.gforms_confirmation_message {
  background-color: #bfffc7;
  border: 1px solid #eee;
  margin-bottom: 24px;
  padding: 24px; }

.gform_wrapper .gform_heading {
  margin-bottom: 0 !important; }

a {
  border-bottom: 1px solid #fff;
  color: #e80;
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
  text-decoration: none; }
  a img {
    border: none; }
  a:focus {
    outline: thin dotted #ccc; }
  a:hover, a:active {
    outline: 0; }
  a:hover {
    border-bottom: 1px solid #cf5300;
    color: #cf5300;
    text-decoration: none; }
  a:visited {
    -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out; }

.main-navigation {
  font-weight: 700; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      top: 2em;
      left: -999em;
      z-index: 99999; }
  .main-navigation li {
    float: left;
    padding: 8px 20px;
    position: relative;
    -webkit-transition: 0.5s;
            transition: 0.5s; }
    .main-navigation li ul li {
      padding: 5px 20px; }
  .main-navigation li.social-share {
    float: right;
    margin: 0;
    padding: 4px 5px; }
    .main-navigation li.social-share.first {
      padding-left: 0; }
    .main-navigation li.social-share.last {
      padding-right: 0; }
  .main-navigation .current_page_item {
    font-style: italic; }
    .main-navigation .current_page_item ul {
      font-style: normal; }
  .main-navigation a {
    border-bottom: none;
    color: #2e2e2e;
    display: block;
    text-decoration: none; }
    .main-navigation a:hover {
      color: #cf5300; }
  .main-navigation ul ul {
    background-color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 3em;
    left: -999em;
    z-index: 99999; }
    .main-navigation ul ul ul {
      left: -999em;
      top: 0; }
    .main-navigation ul ul a {
      width: 200px; }
  .main-navigation ul li:hover > ul {
    left: auto; }
  .main-navigation ul ul li:hover > ul {
    left: 100%; }

#menu-primary {
  display: block; }

/* Small menu */
.menu-toggle {
  display: none; }

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
  padding-bottom: 40px; }

.paging-navigation a {
  border-bottom: none; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.footer-menu {
  font-size: 1rem !important;
  font-weight: bold;
  margin: 10px 0; }
  .footer-menu ul {
    list-style: none;
    margin: 0 auto; }
    .footer-menu ul li {
      display: inline;
      margin: 0 10px; }
  .footer-menu a {
    border-bottom: none !important; }

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

.clear:before, .clear:after {
  content: '';
  display: table; }

.entry-content:before, .entry-content:after {
  content: '';
  display: table; }

.comment-content:before, .comment-content:after {
  content: '';
  display: table; }

.site-header:before, .site-header:after {
  content: '';
  display: table; }

.site-content:before, .site-content:after {
  content: '';
  display: table; }

.site-footer:before, .site-footer:after {
  content: '';
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

.widget {
  background-color: #ebebeb;
  margin: 0 0 1em;
  padding: 15px; }
  .widget select {
    max-width: 100%; }
  .widget .widget-title {
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .widget ul {
    margin: 0 0 0 15px;
    padding: 0px; }
    .widget ul li {
      list-style-type: circle;
      margin-bottom: 6px;
      padding: 0px;
      word-wrap: break-word; }
  .widget .entry-content:before, .widget .entry-content:after {
    content: '';
    display: inline; }
  .widget input {
    border: 1px solid #ddd; }

#intro #intro-widget {
  margin: 0 auto;
  width: 100%; }
  #intro #intro-widget .widget {
    background-color: #fff;
    border: none;
    font-size: 2rem;
    margin: 0;
    padding: 40px;
    vertical-align: middle; }
  #intro #intro-widget p {
    margin-bottom: 0; }

.widget.latest-tweets ul {
  list-style: disc; }
  .widget.latest-tweets ul li a {
    border-bottom: none; }
  .widget.latest-tweets ul li .cw_tweet {
    display: block;
    margin-bottom: 2em; }
    .widget.latest-tweets ul li .cw_tweet .cw_tweet_text {
      display: block; }
    .widget.latest-tweets ul li .cw_tweet .cw_tweet_time {
      clear: both;
      display: block;
      float: right;
      font-size: 80%;
      font-style: italic; }

/**
 * Search widget
 **/
.widget_search .search-submit {
  display: none; }

/**
 * Signup Widget
 **/
.sidebar {
  display: inline;
  line-height: 1.5; }

.widgettitle {
  margin: 0 0 .5rem 0; }

.sidebar {
  margin-top: 40px; }
  .sidebar p {
    margin-bottom: 16px; }
  .sidebar .widget {
    background-color: #fff;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 16px; }
  .sidebar.widget-area ul {
    padding: 0 24px; }
    .sidebar.widget-area ul li {
      list-style-type: circle;
      margin-bottom: 6px;
      padding: 0;
      word-wrap: break-word; }

.gform_widget ul {
  margin: 0 !important; }

.gform_widget form {
  margin: 0;
  max-width: 100%; }
  .gform_widget form input[type=email],
  .gform_widget form input#subscribe-field {
    background-color: #f8f8f8;
    color: #999;
    font-size: 1rem;
    padding: .5rem;
    width: 100%; }
  .gform_widget form input[type="submit"] {
    text-transform: none !important;
    padding: 10px 10px 6px 10px; }
  .gform_widget form .gform_footer {
    margin-top: 0; }
  .gform_widget form select {
    display: block;
    width: 100% !important; }
  .gform_widget form .gfield_label {
    display: none !important;
    margin: 0; }
  .gform_widget form .gform_footer {
    display: none; }

.gform_widget .gforms_confirmation_message {
  background-color: #3e3e3e;
  border: none; }

/*--------------------------------------------------------------
0.1 Posts and pages
--------------------------------------------------------------*/
h1.page-title {
  margin-bottom: 2rem; }

.hentry {
  background-color: #fff;
  font-size: 1.375rem;
  line-height: 1.6;
  margin: 0 0 1rem 0;
  padding: 0; }
  .hentry .gist {
    font-size: 0.875rem;
    line-height: 1.4; }
  .hentry a.post-header-image {
    border: none; }
    .hentry a.post-header-image:hover {
      border: none; }
    .hentry a.post-header-image img {
      width: 100%; }
  .hentry .entry-header {
    padding: 40px 40px 0 40px; }
    .hentry .entry-header .comments-link {
      float: right; }
    .hentry .entry-header .entry-title {
      font-size: 2.25rem;
      font-weight: 300; }
      .hentry .entry-header .entry-title a {
        color: #5f5f5f;
        text-decoration: none; }
        .hentry .entry-header .entry-title a:hover {
          border-bottom: none;
          color: #cf5300;
          text-decoration: none; }
  .hentry .entry-meta,
  .hentry .entry-footer {
    color: #999;
    font-size: 1rem; }
  .hentry .updated {
    display: none; }
  .hentry .single .byline,
  .hentry .group-blog .byline {
    display: inline; }
  .hentry .page-content,
  .hentry .entry-content,
  .hentry .entry-summary {
    margin: 1.5em 0 0;
    padding: 0 40px; }
    .hentry .page-content h2,
    .hentry .page-content h3,
    .hentry .entry-content h2,
    .hentry .entry-content h3,
    .hentry .entry-summary h2,
    .hentry .entry-summary h3 {
      margin-bottom: 1rem; }
  .hentry .page-links {
    clear: both;
    margin: 0 0 1.5em; }
  .hentry .more-link {
    border-bottom: none;
    clear: both;
    display: block;
    font-size: 1rem;
    margin-top: 40px; }
    .hentry .more-link:hover {
      border-bottom: none; }
  .hentry .entry-footer {
    padding: 40px; }

.single .site-main,
.page .site-main {
  margin-bottom: 2.5rem; }

.post-navigation {
  padding: 20px 0; }
  .post-navigation a {
    border-bottom: 1px solid #356; }

.author-box {
  background-color: #fff;
  margin: 0 40px;
  padding: 40px 0; }
  .author-box .avatar {
    float: left; }
  .author-box #authcontact {
    clear: both;
    display: block;
    float: left;
    font-size: 80%;
    width: 100%; }

.author-box {
  border-top: 1px solid #f8f8f8;
  margin: 0 0 1em 0;
  overflow: hidden;
  padding: 25px; }

#disqus_thread {
  background-color: #fff;
  line-height: 1.5;
  overflow: hidden;
  margin: 4px 1px 0;
  padding: 25px; }

/*--------------------------------------------------------------
0.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
0.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

ul.archive-projects {
  margin-left: 60px;
  padding: 0 40px; }
  ul.archive-projects li {
    font-size: 1rem;
    margin: 0; }
    ul.archive-projects li .fa {
      margin: 0;
      padding: 0; }
    ul.archive-projects li .entry-header {
      padding: 0; }
      ul.archive-projects li .entry-header .entry-title {
        border-bottom: none;
        font-size: 1.375rem;
        margin-bottom: 0; }
        ul.archive-projects li .entry-header .entry-title a {
          border-bottom: none; }
  ul.archive-projects .entry-meta .project-status,
  ul.archive-projects .entry-meta .project-type {
    font-style: italic;
    font-weight: bold; }
  ul.archive-projects .divider {
    border-bottom: 1px solid #efefef;
    display: block;
    height: 1px;
    margin: 30px auto;
    width: 60%; }

.projects-note {
  font-size: 80%;
  font-style: italic;
  color: #999; }

ul.archive-speaking {
  margin-left: 60px;
  padding: 0 40px; }
  ul.archive-speaking li {
    font-size: 1rem;
    margin: 0; }
    ul.archive-speaking li .fa {
      margin: 0;
      padding: 0; }
    ul.archive-speaking li .entry-header {
      padding: 0; }
      ul.archive-speaking li .entry-header .entry-title {
        border-bottom: none;
        font-size: 1.375rem;
        margin-bottom: 0; }
        ul.archive-speaking li .entry-header .entry-title a {
          border-bottom: none;
          color: #2e2e2e; }
  ul.archive-speaking .speaking-date,
  ul.archive-speaking .speaking-location {
    font-style: italic; }
  ul.archive-speaking .divider {
    border-bottom: 1px solid #efefef;
    display: block;
    height: 1px;
    margin: 30px auto;
    width: 60%; }

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

@media screen and (max-width: 1192px) {
  #page .site-header .wrap .site-title {
    margin-left: 20px;
    -webkit-transition: 0.5s;
            transition: 0.5s; }
  #page .site-header .wrap .main-navigation {
    margin-right: 20px;
    -webkit-transition: 0.5s;
            transition: 0.5s; } }

@media screen and (max-width: 900px) {
  .single .site-main, .page .site-main {
    margin-bottom: 1em; }
  #page .content-area {
    border-right: none;
    float: none;
    width: 100%; }
  #page .site-content {
    max-width: 100%; }
    #page .site-content .widget-area {
      border-left: none;
      float: none;
      width: 100%; }
  #page #menu-primary {
    display: none; }
  #page .site-header .wrap .menu-toggle {
    color: #5f5f5f;
    display: inline-block;
    font-weight: 400;
    padding: 8px 20px 0 0;
    float: right; }
  #page .site-header .wrap .main-navigation {
    background-color: #fff;
    color: #5f5f5f;
    clear: both;
    float: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    position: absolute;
    overflow: hidden;
    top: 39px;
    width: 100%; }
    #page .site-header .wrap .main-navigation li {
      padding: 2px 0 2px 10px;
      -webkit-transition: 0.5s;
              transition: 0.5s;
      width: 100%; }
    #page .site-header .wrap .main-navigation li.social-share {
      clear: none !important;
      float: left;
      margin: 4px 4px 8px 4px;
      width: 30px; }
    #page .site-header .wrap .main-navigation ul {
      float: none;
      width: 100%; }
      #page .site-header .wrap .main-navigation ul ul {
        box-shadow: none;
        float: none;
        left: -999em;
        position: relative;
        top: 2em;
        z-index: 99999; } }

@media screen and (max-width: 700px) {
  .alignleft,
  .alignright,
  .aligncenter {
    clear: both;
    display: block;
    float: none;
    margin: 10px auto; }
  .widget,
  .hentry {
    border-left: none;
    border-right: none; }
  .software-short {
    float: none;
    width: 100%; }
  #intro .widget {
    font-size: 1.5rem; }
  .paging-navigation {
    padding-left: 10px;
    padding-right: 10px; }
  .comments-area {
    margin: 0 20px;
    padding: 20px 0; }
    .comments-area ol {
      padding: 20px 0 0 0; }
      .comments-area ol li {
        border-left: none;
        padding: 0; }
        .comments-area ol li .comment-content {
          padding-right: 0; }
        .comments-area ol li ol {
          padding-top: 20px; }
          .comments-area ol li ol li {
            background-color: #fff;
            border-left: none; }
            .comments-area ol li ol li a {
              border-bottom: 1px solid #fff; }
              .comments-area ol li ol li a:focus {
                outline: thin dotted #d3d3d3; }
            .comments-area ol li ol li ol li {
              background-color: #fff; }
              .comments-area ol li ol li ol li a {
                border-bottom: 1px solid #fff; }
                .comments-area ol li ol li ol li a:focus {
                  outline: thin dotted #ccc; }
              .comments-area ol li ol li ol li ol li {
                background-color: #fff; }
                .comments-area ol li ol li ol li ol li a {
                  border-bottom: 1px solid #fff; }
                  .comments-area ol li ol li ol li ol li a:focus {
                    outline: thin dotted #ccc; } }

@media screen and (max-width: 350px) {
  #page .site-header .menu-toggle {
    padding: 8px 5px 0 0; } }

@media print {
  body {
    background: white;
    font-size: 10pt;
    margin: 0; }
  #page .content-area {
    margin-left: 0;
    float: none;
    width: auto; }
  #page .site-header {
    position: absolute; }
  .single .site-main,
  .page .site-main,
  .home .hentry,
  .search .hentry {
    border: none; }
  #secondary,
  #intro,
  #site-navigation,
  #commentform {
    display: none; }
  #header {
    height: 75px; }
  .demo .red {
    color: black;
    font-weight: bold; }
  #content a {
    font-weight: bold;
    color: #006;
    text-decoration: underline; }
  #content {
    margin-left: 0;
    float: none;
    width: auto; }
  #footer,
  .ad,
  .footer-menu,
  .author-box,
  .comment-respond,
  .nav-links {
    display: none; }
  .comments-area ol li {
    padding: 0; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid; }
  h3 {
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  blockquote, table, pre {
    page-break-inside: avoid; }
  ul, ol, dl {
    page-break-before: avoid; }
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  img.right {
    padding: 4px;
    margin: 0 0 2px 7px;
    display: inline; }
  img.left {
    padding: 4px;
    margin: 0 7px 2px 0;
    display: inline; }
  .right {
    float: right; }
  .left {
    float: left; }
  img {
    page-break-inside: avoid;
    page-break-after: avoid; } }
/*# sourceMappingURL=master.css.map */