$background: #f4f5f6;
$black: #2e2e2e;
$blue-background: #e0ffff;
$border-color: #ddd;
$dark-blue: #1f1faa;
$dark-grey: #3e3e3e;
$footer-background: #272a34;
$footer-text: #8a96a0;
$footer-links: #a1a7b9;
$footer-links-visited: #d2daee;
$green: #bfffc7;
$grey: #999;
$header-background: #272a34;
$header-links: #a1a7b9;
$header-links-visited: #d2daee;
$logo-color-1: #fff;
$logo-color-2: #ddd;
$light-grey: #ccc;
$light-blue: #3a63cd;
$light-orange: #e80;
$link-color: #356;
$near-white: #fafafa;
$orange: #cf5300;
$text-color: #444;
$white: #fff;
$widget-background: #f4f5f6;
$yellow: #ffffc2;