a {

  border-bottom: 1px solid $white;
  color: $orange;
  transition: all .2s ease-in-out;
  text-decoration: none;

  img {
    border: none;
  }

  &:focus {
    outline: thin dotted $light-grey;
  }

  &:hover,
  &:active {
    outline: 0;
  }

  &:hover {
    border-bottom: 1px solid $link-color;
    color: $link-color;
    text-decoration: none;
  }

  &:visited {
    transition: all .5s ease-in-out;
  }
}