.widget {

  background-color: $widget-background;
  margin: 0 0 1em;
  padding: 15px;

  a {
    border-bottom: none;
  }

  select {
    max-width: 100%;
  }

  .widget-title {
    border-bottom: 1px solid $border-color;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 2px;
  }

  ul {

    margin: 0 0 0 15px;
    padding: 0;

    li {
      list-style-type: circle;
      margin-bottom: 6px;
      padding: 0;
      overflow-wrap: break-word;
    }

  }

  .entry-content {

    &:before,
    &:after {
      content: '';
      display: inline;
    }

  }

  input {
    border: 1px solid $border-color;
  }

}

/**
 * Search widget
 **/

.widget_search .search-submit {
  display: none;
}

/**
 * Signup Widget
 **/
.sidebar {
  display: inline;
  line-height: 1.5;
}

.widgettitle {
  margin: 0 0 .5rem 0;
}

.sidebar {

  margin-top: 40px;

  p {
    margin-bottom: 16px;
  }

  .widget {
    background-color: $white;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 16px;
  }

  &.widget-area ul {

    padding: 0 24px;

    li {
      list-style-type: circle;
      margin-bottom: 6px;
      padding: 0;
      word-wrap: break-word;
    }

  }

}

//Subscription Widget
#gform_widget-4 {

  .gform_wrapper {

    margin: 0;

    ul.gform_fields li.gfield {
      padding-right: 0;
    }
  }

  img {
    float: left;
    margin: 0 5px 5px 0;
  }

  ul {
    margin: 0 !important;
  }

  form {

    margin: 0;
    max-width: 100%;

    input[type=email],
    select {
      background-color: $white;
      color: $text-color;
      font-size: $normal-rem;
      padding: .5rem;
      width: 100%;
    }

    .gform_footer {
      margin-top: 0;
    }

    select {
      display: block;
      width: 100% !important;
    }

    .gfield_label {
      display: none !important;
      margin: 0;
    }

  }

  .gforms_confirmation_message {
    background-color: $dark-grey;
    border: none;
  }

}

.cw_tweet_time {
  font-size: 80%;
  font-style: italic;
  margin-left: 10px;
}

.cw_tweet_text a {
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.cw-tweets-follow-me {

  text-align: center;

  .follow-me {
    font-weight: bold;
  }
}
